@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:host {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

input {
  font-family: "Inter", sans-serif;
}


